@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: MAWP
	Description: Custom theme for Mid-America Water & Plumbing, Inc.
	Version: 1.4.1
	Text Domain: mawp
*/
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: none;
}

.three-col-grid {
  display: -ms-grid;
  display: grid;
  max-width: 62.5rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(14.5rem, 14.5rem));
  -webkit-column-gap: 9.5rem;
     -moz-column-gap: 9.5rem;
          column-gap: 9.5rem;
  row-gap: 3.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 768px) {
  .three-col-grid {
    row-gap: 7rem;
  }
}
.three-col-grid__grid-item {
  position: relative;
}
.three-col-grid__grid-item .grid-title {
  font-family: rift, sans-serif;
  font-size: 1.5625rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #111F2A;
}
.three-col-grid__grid-item .button-bottom {
  position: absolute;
  top: 100%;
}
.three-col-grid p {
  margin-bottom: 1.25rem;
}

.feature-block {
  position: relative;
  margin: 0 auto 22rem;
}
@media (min-width: 800px) {
  .feature-block {
    margin: 0 auto;
  }
}
.feature-block img {
  display: block;
  max-height: 41rem;
  width: 100%;
}
.feature-block__project-blurb {
  position: absolute;
  max-width: 30rem;
  left: 1rem;
  bottom: 1rem;
  padding-top: 1rem;
  z-index: 5;
}
@media (min-width: 768px) {
  .feature-block__project-blurb {
    left: 3rem;
    bottom: 2rem;
  }
}
.feature-block__project-blurb h2, .feature-block__project-blurb p {
  color: #FFF;
}
.feature-block__project-blurb h2 {
  margin-bottom: 1rem;
}
.feature-block__project-blurb p {
  display: none;
}
@media (min-width: 768px) {
  .feature-block__project-blurb p {
    display: block;
  }
}
.feature-block__project-info {
  position: absolute;
  max-width: 100%;
  width: 100%;
  padding: 1rem;
  background-color: rgba(17, 31, 42, 0.94);
  z-index: 5;
}
@media (min-width: 800px) {
  .feature-block__project-info {
    max-width: 15rem;
    padding: 1rem 1.8rem 3.3rem;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 1023px) {
  .feature-block__project-info {
    max-width: 24rem;
    right: -1rem;
    bottom: -1rem;
  }
}
@media (min-width: 1200px) {
  .feature-block__project-info {
    right: -2rem;
    bottom: -2rem;
  }
}
.feature-block__project-info .info-block {
  margin-bottom: 2rem;
}
.feature-block__project-info p {
  font-size: 0.75rem;
  color: #FFF;
  margin: 0;
}
@media (min-width: 480px) {
  .feature-block__project-info p {
    font-size: 0.875rem;
  }
}
.feature-block__project-info .info-head {
  font-family: rift, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .feature-block__project-info .info-head {
    font-size: 1.125rem;
  }
}

a, p, span, address, blockquote {
  font-weight: normal;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.2;
  font-family: realist, sans-serif;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

p {
  color: #111F2A;
}

small {
  font-family: realist, sans-serif;
  font-size: 0.6875rem;
  color: #959EA6;
}

ul, ol {
  font-size: 0.875rem;
  color: #111F2A;
  font-family: realist, sans-serif;
  margin-bottom: 2.5rem;
}

.h1-heading, h1--w, .h1-heading--w,
.h2-heading,
h2--w,
.h2-heading--w,
.h3-heading,
h3--w,
.h3-heading--w,
.h4-heading,
h4--w,
.h4-heading--w,
.h5-heading,
h5--w,
.h5-heading--w,
.h6-heading,
h6--w,
.h6-heading--w,
h1, h2, h3,
h4, h5, h6 {
  font-family: rift, sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  margin-top: 0;
  color: #111F2A;
}

h1, .h1-heading, h1--w, .h1-heading--w {
  font-size: 2.5rem;
}
@media (min-width: 480px) {
  h1, .h1-heading, h1--w, .h1-heading--w {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  h1, .h1-heading, h1--w, .h1-heading--w {
    font-size: 3.75rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading, h1--w, .h1-heading--w {
    font-size: 4.375rem;
  }
}
h1--w, .h1-heading--w {
  color: #FFF;
}

h2, .h2-heading, h2--w, .h2-heading--w {
  font-size: 1.75rem;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  h2, .h2-heading, h2--w, .h2-heading--w {
    font-size: 2.5rem;
  }
}
h2--w, .h2-heading--w {
  color: #FFF;
}

h3, .h3-heading, h3--w, .h3-heading--w {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 480px) {
  h3, .h3-heading, h3--w, .h3-heading--w {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  h3, .h3-heading, h3--w, .h3-heading--w {
    font-size: 2.2rem;
  }
}
h3--w, .h3-heading--w {
  color: #FFF;
}

h4, .h4-heading, h4--w, .h4-heading--w {
  font-size: 1.175rem;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  h4, .h4-heading, h4--w, .h4-heading--w {
    font-size: 1.375rem;
  }
}
h4--w, .h4-heading--w {
  color: #FFF;
}

h5, .h5-heading, h5--w, .h5-heading--w {
  font-size: 1.125rem;
  letter-spacing: 1px;
}
@media (min-width: 480px) {
  h5, .h5-heading, h5--w, .h5-heading--w {
    font-size: 1.25rem;
  }
}
h5--w, .h5-heading--w {
  color: #FFF;
}

h6, .h6-heading, h6--w, .h6-heading--w {
  font-family: realist, sans-serif;
  font-weight: 900;
  font-size: 1.125rem;
  letter-spacing: 1px;
}
h6--w, .h6-heading--w {
  color: #FFF;
}

.primary-button, #gform_submit_button_1, .learn-more-button {
  display: inline-block;
  font-family: rift, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.2rem 0.9375rem;
  text-align: center;
  background-color: #4E94E8;
  color: #FFF;
  -webkit-box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.5);
}
.primary-button:hover, #gform_submit_button_1:hover, .learn-more-button:hover {
  background-color: #111F2A;
}
.primary-button svg, #gform_submit_button_1 svg, .learn-more-button svg {
  vertical-align: text-bottom;
  margin-left: 1.5rem;
}

.learn-more-button {
  width: 9rem;
  padding: 0.8rem 0.9375rem;
}
@media (min-width: 600px) {
  .learn-more-button {
    width: 12.5rem;
    padding: 1.2rem 0.9375rem;
  }
}

.filter-button {
  display: inline-block;
  width: 11.25rem;
  font-family: rift, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.75rem 0;
  margin: 0 0.75rem;
  color: #4E94E8;
  background-color: #FFF;
  border: 1px solid #4E94E8;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.filter-button:first-of-type {
  margin-left: 0;
}
.filter-button:last-of-type {
  margin-right: 0;
}
.filter-button:hover {
  cursor: pointer;
  color: #FFF;
  background-color: #4E94E8;
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.filter-button.active {
  color: #FFF;
  background-color: #4E94E8;
}

.form-container {
  max-width: 37.5rem;
  margin: 0 auto;
}
.form-container h3 {
  letter-spacing: 2px;
  text-align: center;
}

.gform_body input, .gform_body textarea {
  border: 1px solid #111F2A !important;
  font-family: realist, sans-serif !important;
  font-size: 0.875rem !important;
  width: 100% !important;
  border-radius: 2px;
}

.gform_wrapper textarea, .gform_wrapper input {
  margin-top: 0.8rem;
  padding: 6px 4px 6px 30px !important;
}

.gform_wrapper .gform_footer {
  text-align: center;
}

#gform_submit_button_1 {
  padding: 0.8rem 0.65rem !important;
  border: unset;
  border-radius: unset;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  margin: 0 auto;
  width: 9.5rem;
  letter-spacing: 2px;
  font-size: 1rem;
}
@media (min-width: 480px) {
  #gform_submit_button_1 {
    padding: 1.2rem 0.9375rem !important;
  }
}
#gform_submit_button_1:hover {
  cursor: pointer;
  background-color: #111F2A;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

#field_1_1 .ginput_container {
  position: relative;
}
#field_1_1 .ginput_container:before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  left: -8px;
  top: 8px;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 642px) {
  #field_1_1 .ginput_container:before {
    top: 3px;
  }
}

#field_1_2 {
  position: relative;
}
#field_1_2:before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  left: -10px;
  top: 7px;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 642px) {
  #field_1_2:before {
    top: 2px;
  }
}

#field_1_3 {
  position: relative;
}
#field_1_3:before {
  content: "";
  font-family: FontAwesome;
  position: absolute;
  left: -9px;
  top: 5px;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.global-page-wrapper {
  max-width: 100%;
  margin: 0 0 4rem 0;
  padding: 0 1rem 1rem;
}

.default-container {
  max-width: 42rem;
  margin: 1rem auto;
}
.default-container h1, .default-container h2, .default-container h3, .default-container h4, .default-container h5, .default-container h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.default-container p {
  margin-top: 0;
}
.default-container a {
  color: #4E94E8;
}

.default-container-wide {
  max-width: 62.5rem;
  margin: 1rem auto;
}
.default-container-wide p {
  max-width: 42rem;
}
.default-container-wide h1, .default-container-wide h2, .default-container-wide h3, .default-container-wide h4, .default-container-wide h5, .default-container-wide h6 {
  max-width: 42rem;
}

.pb-15 {
  padding-bottom: 15rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.hide-on-desktop {
  display: block;
}
@media (min-width: 480px) {
  .hide-on-desktop {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 480px) {
  .hide-on-mobile {
    display: block;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

.plain-link {
  color: #111F2A;
  font-size: 0.6875rem;
  font-style: italic;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

.add-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.9));
  z-index: 1;
}
@media (min-width: 768px) {
  .add-shadow {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9));
  }
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 48.0625em) {
  .nav-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 75rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .logo {
    max-width: 10.25rem;
    margin-right: 2rem;
  }

  #primary-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .nav-menu {
    width: 46rem;
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li a {
    color: #FFF;
    font-family: rift, sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .nav-menu .menu li a:hover {
    cursor: pointer;
  }
  .nav-menu .menu .sub-menu {
    position: absolute;
    top: 2.25rem;
    left: -1rem;
    visibility: hidden;
    opacity: 0;
    width: 12.5rem;
    overflow: hidden;
    background-color: #111F2A;
    padding: 1.5rem;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    z-index: 5;
  }
  .nav-menu .menu .sub-menu li {
    margin-bottom: 1.25rem;
    width: 100%;
  }
  .nav-menu .menu .sub-menu li:last-of-type {
    margin-bottom: 0;
  }
  .nav-menu .menu .sub-menu li a {
    font-family: realist, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    color: #FFF;
    text-transform: none;
    letter-spacing: 0;
  }
  .nav-menu .menu .menu-item-has-children {
    position: relative;
  }
  .nav-menu .menu .menu-item-has-children > a {
    position: relative;
    padding-bottom: 0.75rem;
  }
  .nav-menu .menu .menu-item-has-children:after {
    content: url("./static/icons/chevron-down.svg");
    position: absolute;
    top: 1px;
    right: -16px;
    color: #FFF;
    padding-left: 4px;
  }
  .nav-menu .menu .menu-item-has-children:hover:after {
    top: 4px;
    right: -20px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    overflow: visible;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 41%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #111F2A;
  }
}
@media (max-width: 48em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 5.75rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    width: 1.6rem;
    height: 3px;
    margin-bottom: 6px;
    background-color: #FFF;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 1px;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 4px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #primary-menu {
    display: none;
    position: relative;
    width: 100%;
    top: 1.5rem;
    text-align: center;
    overflow: hidden;
  }
  #primary-menu li {
    margin-bottom: 1.875rem;
  }
  #primary-menu a {
    font-family: rift, sans-serif;
    font-weight: bold;
    color: #FFF;
    font-size: 1.125rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a:after {
    content: "";
    position: absolute;
    top: 6px;
    font-family: FontAwesome;
    font-size: 0.7rem;
    color: #FFF;
    padding-left: 4px;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 1rem;
  }
  #primary-menu .menu-item-has-children > .sub-menu {
    position: relative;
    width: 100%;
    top: 1rem;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #111F2A;
  }
  #primary-menu .menu-item-has-children > .sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 48%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #111F2A;
  }
  #primary-menu .menu-item-has-children > .sub-menu li:last-of-type {
    margin-bottom: 0;
  }

  .sub-menu {
    display: none;
  }
}
.header-wrapper {
  max-width: 100%;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, right top, from(#111F2A), color-stop(35%, #174274), to(#111F2A));
  background: -o-linear-gradient(bottom left, #111F2A, #174274 35%, #111F2A);
  background: linear-gradient(to top right, #111F2A, #174274 35%, #111F2A);
}
.header-wrapper .header-container {
  max-width: 54.5rem;
  margin: 4rem auto 0;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
.header-wrapper .header-container h1:not(.home-heading) {
  margin-bottom: 0;
}
.header-wrapper .header-container p {
  max-width: 37rem;
  margin: 0 auto 2.5rem;
  color: #FFF;
}
.header-wrapper .white-bar {
  position: relative;
  bottom: 0;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #FFF;
}
@media (min-width: 768px) {
  .header-wrapper .white-bar {
    padding: 2rem 0;
  }
}
.header-wrapper .content-fade {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;
  -o-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.site-footer {
  max-width: 77rem;
  padding: 1rem;
  margin: 2rem auto 0;
}
.site-footer__client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1.25rem;
  border-top: 1px solid #959EA6;
  border-bottom: 1px solid #959EA6;
}
@media (min-width: 768px) {
  .site-footer__client-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer .info-left {
  margin-bottom: 1.5rem;
}
@media (min-width: 540px) {
  .site-footer .info-left {
    margin-bottom: 0;
  }
}
.site-footer .info-left a {
  display: block;
  text-align: center;
}
@media (min-width: 540px) {
  .site-footer .info-left a {
    display: inline-block;
    margin-bottom: 2.5rem;
    text-align: initial;
  }
}
@media (min-width: 768px) {
  .site-footer .info-left a {
    margin-bottom: 0;
  }
}
.site-footer .info-left img {
  display: inline-block;
  vertical-align: middle;
  max-width: 10.25rem;
  margin-bottom: 1rem;
}
@media (min-width: 540px) {
  .site-footer .info-left img {
    margin-right: 2rem;
  }
}
@media (min-width: 912px) {
  .site-footer .info-left img {
    margin-bottom: 0;
  }
}
.site-footer .info-left span {
  display: inline-block;
  vertical-align: middle;
  color: #959EA6;
  font-size: 0.625rem;
  text-align: center;
}
@media (min-width: 520px) {
  .site-footer .info-left span {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  .site-footer .info-left span {
    max-width: 10rem;
  }
}
@media (min-width: 912px) {
  .site-footer .info-left span {
    text-align: left;
  }
}
.site-footer .info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 520px) {
  .site-footer .info-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer .info-right h6 {
  margin: 0;
}
.site-footer .info-right__add-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 520px) {
  .site-footer .info-right__add-flex {
    max-width: 22rem;
  }
}
.site-footer .info-right .divider {
  width: 6.75rem;
  height: 3px;
  padding: 1px;
  margin: 0.75rem 0;
  background-color: #4E94E8;
}
@media (min-width: 520px) {
  .site-footer .info-right .divider {
    width: 2px;
    height: 3rem;
    padding: 1px;
  }
}
.site-footer .info-right .contact-info p, .site-footer .info-right .contact-info a {
  margin: 0;
  color: #959EA6;
  font-size: 0.625rem;
}
@media (min-width: 520px) {
  .site-footer .info-right .contact-info p, .site-footer .info-right .contact-info a {
    font-size: 0.875rem;
  }
}
.site-footer .info-right div.contact-info {
  margin-top: 0.4rem;
}
@media (min-width: 520px) {
  .site-footer .info-right div.contact-info {
    margin-top: 0;
  }
}
.site-footer .info-right .fa-facebook {
  background-color: #4E94E8;
  border-radius: 50%;
  padding: 0.5rem 0.6rem 0.3rem;
  color: #FFF;
}
.site-footer .info-right .fa-facebook:hover {
  background-color: #111F2A;
}
.site-footer .footer-footnotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 0;
  text-align: center;
}
@media (min-width: 700px) {
  .site-footer .footer-footnotes {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: initial;
  }
}
.site-footer .footer-footnotes small, .site-footer .footer-footnotes a, .site-footer .footer-footnotes div {
  margin-bottom: 0.5rem;
}
@media (min-width: 700px) {
  .site-footer .footer-footnotes small, .site-footer .footer-footnotes a, .site-footer .footer-footnotes div {
    margin-bottom: 0;
  }
}
.site-footer .footer-footnotes .mb-change {
  margin-bottom: 0;
}
.site-footer .footer-footnotes a {
  font-size: 0.6875rem;
  color: #959EA6;
}
.site-footer .footer-footnotes span {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #959EA6;
}
.site-footer .footer-footnotes svg {
  vertical-align: middle;
}

.slide-container {
  position: relative;
  max-width: 75rem;
  margin: -8.5rem auto 5rem;
}
@media (min-width: 768px) {
  .slide-container {
    margin: -8.5rem auto 10rem;
  }
}
.slide-container .slider-wrapper .slide-item {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  padding: 10rem 0;
}
@media (min-width: 480px) {
  .slide-container .slider-wrapper .slide-item {
    padding: 12rem 0;
  }
}
@media (min-width: 768px) {
  .slide-container .slider-wrapper .slide-item {
    padding: 16rem 0;
  }
}
@media (min-width: 1023px) {
  .slide-container .slider-wrapper .slide-item {
    padding: 20rem 0;
  }
}
.slide-container .slider-wrapper .slide-item .slide-info-container {
  position: absolute;
  max-width: 30rem;
  left: 1rem;
  bottom: 3rem;
  padding-top: 3rem;
  z-index: 5;
}
@media (min-width: 768px) {
  .slide-container .slider-wrapper .slide-item .slide-info-container {
    left: 3rem;
    bottom: 2rem;
  }
}
.slide-container .slider-wrapper .slide-item h2, .slide-container .slider-wrapper .slide-item p {
  color: #FFF;
}
.slide-container .slider-wrapper .slide-item h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  max-width: 20rem;
}
@media (min-width: 375px) {
  .slide-container .slider-wrapper .slide-item h2 {
    font-size: 1.5rem;
    max-width: 25rem;
  }
}
@media (min-width: 768px) {
  .slide-container .slider-wrapper .slide-item h2 {
    font-size: 2.5rem;
    max-width: 100%;
  }
}
.slide-container .slider-wrapper .slide-item p {
  display: none;
}
@media (min-width: 480px) {
  .slide-container .slider-wrapper .slide-item p {
    display: block;
    margin-bottom: 1.875rem;
  }
}
.slide-container .slider-dots {
  position: absolute;
  bottom: 0.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  z-index: 5;
}
@media (min-width: 768px) {
  .slide-container .slider-dots {
    bottom: 2rem;
  }
}
.slide-container .slider-dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slide-container .slider-dots ul button {
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  border: unset;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 0;
}
.slide-container .slider-dots ul button:hover {
  cursor: pointer;
}
@media (min-width: 480px) {
  .slide-container .slider-dots ul button {
    width: 1rem;
    height: 1rem;
  }
}
.slide-container .slider-dots ul li.slick-active > button {
  background-color: #FFF;
}

.home-container {
  max-width: 75rem;
  margin: 0 auto 1.5rem;
}
@media (min-width: 1023px) {
  .home-container {
    margin: 0 auto 6rem;
  }
}
.home-container h2 {
  text-align: center;
  margin-bottom: 2.5rem;
  letter-spacing: 0;
}
@media (min-width: 480px) {
  .home-container h2 {
    margin-bottom: 4.5rem;
  }
}

.project-facet-wrapper {
  position: relative;
  max-width: 12rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .project-facet-wrapper {
    max-width: 62.5rem;
  }
}
.project-facet-wrapper .facetwp-facet {
  margin-bottom: unset;
  display: block;
}
@media (min-width: 768px) {
  .project-facet-wrapper .facetwp-facet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 62.5rem;
    width: 100%;
    margin: 0 auto;
  }
}
.project-facet-wrapper .facetwp-facet .facetwp-radio {
  background: unset;
  display: inline-block;
  width: 11.25rem;
  font-family: rift, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.75rem 0;
  color: #4E94E8;
  background-color: #FFF;
  border: 1px solid #4E94E8;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  text-align: center;
  margin-bottom: 0;
}
.project-facet-wrapper .facetwp-facet .facetwp-radio:hover {
  -webkit-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  background-color: #4E94E8;
  color: #FFF;
  cursor: pointer;
}
.project-facet-wrapper .facetwp-facet .facetwp-radio.checked {
  background-color: #4E94E8;
  color: #FFF;
}
.project-facet-wrapper .facetwp-facet .facetwp-counter {
  display: none;
}
.project-facet-wrapper .select-icon {
  position: absolute;
  top: 10px;
  right: 12px;
  font-family: FontAwesome;
  color: #4E94E8;
  z-index: 1;
}

.facet-desktop {
  display: none;
}
@media (min-width: 768px) {
  .facet-desktop {
    display: block;
  }
}

.facet-mobile {
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .facet-mobile {
    display: none;
  }
}
.facet-mobile select, .facet-mobile option {
  font-family: rift, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #4E94E8;
  text-align: center;
  letter-spacing: 1px;
}
.facet-mobile select {
  display: block;
  position: relative;
  width: 12rem;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #4E94E8;
  border-radius: unset;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  z-index: 2;
}

.featured-project {
  max-width: 75rem;
  margin: 0 auto 7rem;
}
.featured-project .category-intro {
  max-width: 37rem;
  margin: 2.5rem auto;
  text-align: center;
}

.project-grid {
  display: -ms-grid;
  display: grid;
  max-width: 62.5rem;
  margin: 5rem auto 0;
  grid-template-columns: repeat(auto-fit, minmax(100%, 20rem));
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 480px) {
  .project-grid {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem));
  }
}
.project-grid__grid-item {
  position: relative;
  height: 13.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  -webkit-box-shadow: inset 0 -80px 30px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 -80px 30px rgba(0, 0, 0, 0.7);
}
.project-grid__grid-item:hover {
  opacity: 0.8;
}
.project-grid__grid-item h5 {
  position: absolute;
  max-width: 16rem;
  left: 1rem;
  bottom: -1rem;
}

.contact-intro {
  max-width: 77rem;
  margin: -4rem auto 5rem;
  padding: 0 1rem;
}
.contact-intro .learn-more-button {
  letter-spacing: 2px;
  max-width: 11.25rem;
}
.contact-intro .map-container {
  position: relative;
  margin: 0 auto;
  max-width: 75rem;
  height: 18rem;
}
@media (min-width: 480px) {
  .contact-intro .map-container {
    height: 25rem;
  }
}
@media (min-width: 768px) {
  .contact-intro .map-container {
    height: 35rem;
  }
}
@media (min-width: 1023px) {
  .contact-intro .map-container {
    height: 42rem;
  }
}
.contact-intro #map {
  position: relative;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  width: 4rem;
  top: 0;
  right: 0;
  padding: 1rem;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group button, .contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group [type=button], .contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group [type=reset], .contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group [type=submit] {
  -webkit-appearance: none;
  margin-bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: #111F2A;
  color: #FFF;
  border: none;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-left,
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-right,
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-compass {
  display: none;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:before {
  content: "+";
  position: relative;
  font-weight: bold;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:hover {
  cursor: pointer;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:before {
  content: "-";
  position: relative;
  font-weight: bold;
}
.contact-intro .mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:hover {
  cursor: pointer;
}

.gallery-container {
  position: relative;
  max-width: 70rem;
  margin: -4rem auto 5rem;
  padding: 0 1rem;
}
.gallery-container .project-gallery__image img {
  margin: 0 auto;
  max-height: 18rem;
}
@media (min-width: 480px) {
  .gallery-container .project-gallery__image img {
    max-height: 20rem;
  }
}
@media (min-width: 768px) {
  .gallery-container .project-gallery__image img {
    max-height: 32rem;
  }
}
@media (min-width: 1023px) {
  .gallery-container .project-gallery__image img {
    max-height: 41rem;
  }
}
@media (min-width: 75em) {
  .gallery-container .gallery-arrows, .gallery-container .mobile-arrow {
    display: none;
  }
  .gallery-container .desktop-arrow {
    display: inline-block;
  }
  .gallery-container .prev-arrow, .gallery-container .next-arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    padding: 0.7rem 0.7rem 0.5rem;
    font-family: FontAwesome;
    font-size: 2rem;
    color: #000;
    z-index: 25;
  }
}
@media (min-width: 75em) and (min-width: 768px) {
  .gallery-container .prev-arrow, .gallery-container .next-arrow {
    padding: 2rem 1rem 2rem 1.25rem;
  }
}
@media (min-width: 75em) {
  .gallery-container .prev-arrow:hover, .gallery-container .next-arrow:hover {
    cursor: pointer;
    background-color: rgba(17, 31, 42, 0.2);
  }
}
@media (min-width: 75em) {
  .gallery-container .prev-arrow {
    left: -3rem;
  }
}
@media (min-width: 75em) {
  .gallery-container .next-arrow {
    right: -3rem;
  }
}
@media (max-width: 74.9375em) {
  .gallery-container .desktop-arrow {
    display: none !important;
  }
  .gallery-container .mobile-arrow {
    display: block;
  }
  .gallery-container .gallery-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -2.5rem;
    left: 1rem;
  }
}
@media (max-width: 74.9375em) and (min-width: 768px) {
  .gallery-container .gallery-arrows {
    bottom: -1.5rem;
    left: 7.5rem;
  }
}
@media (max-width: 74.9375em) {
  .gallery-container .gallery-arrows .prev-arrow, .gallery-container .gallery-arrows .next-arrow {
    display: inline-block;
    padding: 0.7rem 0.7rem 0.5rem;
    background-color: rgba(17, 31, 42, 0.9);
  }
}
@media (max-width: 74.9375em) and (min-width: 768px) {
  .gallery-container .gallery-arrows .prev-arrow, .gallery-container .gallery-arrows .next-arrow {
    padding: 1rem 1rem 0.8rem;
  }
}
@media (max-width: 74.9375em) {
  .gallery-container .gallery-arrows .prev-arrow:hover, .gallery-container .gallery-arrows .next-arrow:hover {
    cursor: pointer;
    background-color: rgba(17, 31, 42, 0.6);
  }
}
@media (max-width: 74.9375em) {
  .gallery-container .gallery-arrows .arrow-divider {
    display: inline-block;
    width: 2px;
    height: 2rem;
    margin: 4px 0 0;
    background-color: #FFF;
    vertical-align: middle;
  }
}
@media (max-width: 74.9375em) and (min-width: 768px) {
  .gallery-container .gallery-arrows .arrow-divider {
    margin: 8px 0 0;
  }
}

.project-container {
  max-width: 42rem;
  margin: 0 auto;
}
.project-container p {
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}
.project-container h1, .project-container h2, .project-container h3, .project-container h4, .project-container h5, .project-container h6 {
  margin-top: 1.25rem;
  margin-bottom: 0.25rem;
}

.project-details-block {
  max-width: 100%;
  margin: 4rem 0 0;
}
.project-details-block .details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.project-details-block .details-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.project-details-block .details-list ul li {
  font-size: 0.875rem;
  font-family: realist, sans-serif;
  margin-bottom: 0.8rem;
}
.project-details-block .details-list__titles {
  max-width: 8.5rem;
}
.project-details-block .details-list__titles li {
  font-weight: bold;
}