{#
  * Block Name: Arrow Button
  * Creates a standard button with a right arrow, utilizing the theme's color palette.
#}

<a class="arrow-button" href="{{ fields.arr_button_link }}">{{ fields.arr_button_text }} {% include '/static/icons/arrow-right.svg' %}</a>