{#
  * Block Name: Standard Button
  * Creates a standard button utilizing the theme's color palette.
#}

<a class="standard-button" href="{{ fields.std_button_link }}">{{ fields.std_button_text }}</a>