{#
  * Block Name: Employee Block (All)
  * Creates a grid with all employees added, sorted alphabetically.
#}

<section class="employee-block-container">
	{% for employee in employees %}
		<div class="employee-wrapper">
			{% if employee.employee_has_bio_page %}
				<a href="{{ employee.link }}"><img src="{{ TimberImage( employee.emp_image ).src }}" alt="{{ TimberImage( employee.emp_image ).alt }}" /></a>
				<a href="{{ employee.link }}"><h6 id="emp-h6" class="employee-link">{{ employee.title }}</h6></a>
			{% else %}
				<img src="{{ TimberImage( employee.emp_image ).src }}" alt="{{ TimberImage( employee.emp_image ).alt }}" />
				<h6 id="emp-h6">{{ employee.title }}</h6>
			{% endif %}
			<p>{{ employee.emp_position }}</p>
			<a href="mailto:{{ employee.emp_email }}" class="plain-link">Email</a>
		</div>
	{% endfor %}
</section>