{#
  * Block Name: Employee Block (Custom)
  * Creates a block with user selectable employees.
  * ACF Post Object
#}

<section class="employee-block-container">
	{% for employee in fields.employee_post_object %}
		{% set pid = employee.ID %}
		<div class="employee-wrapper">
			{% if employee.employee_has_bio_page %}
				<a href="{{ fn('get_permalink', pid) }}"><img src="{{ TimberImage( employee.emp_image ).src }}" alt="{{ TimberImage( employee.emp_image ).alt }}" /></a>
				<a href="{{ fn('get_permalink', pid) }}"><h6 id="emp-h6" class="employee-link">{{ fn('get_the_title', pid) }}</h6></a>
			{% else %}
				<img src="{{ TimberImage( employee.emp_image ).src }}" alt="{{ TimberImage( employee.emp_image ).alt }}" />
				<h6 id="emp-h6">{{ fn('get_the_title', pid) }}</h6>
			{% endif %}
			<p>{{ employee.emp_position }}</p>
			<a href="mailto:{{ employee.emp_email }}" class="plain-link">Email</a>
		</div>
	{% endfor %}
</section>