{#
  * Block Name: Infinite Logo Carousel
  * Creates a block with an infinite repeating carousel of client logos (or other content).
#}

<div class="logo-carousel">
	<section class="carousel">
		{% for slide in fields.slide_repeater %}
			<div class="slide-logo">
				<img src="{{ TimberImage(slide.slide_logo).src }}" alt="{{ TimberImage(slide.slide_logo).alt }}" />
			</div>
		{% endfor %}
	</section>
</div>