{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">

	<div class="project-facet-wrapper facet-desktop">
		{{ fn('do_shortcode', '[facetwp facet="industry_types_desktop"]') }}
	</div>

	<div class="project-facet-wrapper facet-mobile">
		{{ fn('do_shortcode', '[facetwp facet="industry_types_mobile"]') }}
		<span class="select-icon">&#xf0dd;</span>
	</div>

	{# Page: Industry Experience #}
	{% if function('is_page', 15) %}
		{% include 'category-featured-posts.twig' %}
	{% endif %}

	<section class="project-grid facetwp-template" role="region" aria-label="All Projects">
		{% for project in projects %}
			<a href="{{ project.link }}" class="project-grid__grid-item" style="background-image: url('{{ project.thumbnail.src }}');">
				<h5 class="h5-heading--w">{{ project.title }}</h5>
			</a>
		{% endfor %}
	</section>
</section>
{% endblock %}