{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="default-container">
		{{ post.content }}
	</div>
	<div class="three-col-grid">
		{% for cap in capabilities %}
			<div class="three-col-grid__grid-item">
				<p class="grid-title">{{ cap.title }}</p>
				<p>{{ cap.preview }}</p>
				<a class="learn-more-button" href="{{ cap.link }}">Learn More</a>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}