{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	<header class="header-wrapper">
		{% include 'navigation.twig' %}

		{% if is_front_page %}
			{# homepage header #}
			<div class="header-container pb-15">
				<h1 class="h1-heading--w home-heading">{{ post.home_header_title }}</h1>
				<p>{{ post.info_blurb }}</p>
				<a class="primary-button" href="{{ post.button_url }}">{{ post.button_text }} {% include '/static/icons/arrow-right.svg' %}</a>
			</div>
			<div class="white-bar"></div>
		{% elseif function('is_page', 21) or '/project/' in get_url %}
			{# contact page header or single projects pages #}
			<div class="header-container pb-8">
				<h1 class="h1-heading--w">{{ post.title }}</h1>
			</div>
		{% else %}
			{# default header #}
			<div class="header-container pb-5">
				<h1 class="h1-heading--w">{{ post.title }}</h1>
			</div>
			<div class="white-bar"></div>
		{% endif %}
	</header>

	<div class="content-wrapper">
		{% block below_header %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block abovefooter %}
		{% endblock %}
	</div>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>