<div class="featured-project">

	{% for project_type in project_types %}
		<div id="{{ project_type.meta('slug')|split(' ')|join('') }}" class="category-intro" style="display: none;">
			{{ project_type.category_intro }}
		</div>

		{% set count = 0 %} {# we only want the most recent one for each project category #}
		{% for post in project_type.posts if post.get_field('is_category_project') %}
			{% if count < 1 %}
				<div id="{{ project_type.meta('slug')|split(' ')|join('') }}" class="feature-block" style="display: none;">
					<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" />
					<div class="feature-block__project-blurb">
						<h2>{{ post.title }}</h2>
						<p>{{ post.preview(25) }}</p>
					</div>

					<div class="feature-block__project-info">
						<div class="info-block">
							<p class="info-head">Client</p>
							<p>{{ post.project_client }}</p>
						</div>
						<div class="info-block">
							<p class="info-head">Location</p>
							<p>{{ post.project_location }}</p>
						</div>
						<div class="info-block">
							<p class="info-head">Role</p>
							<p>{{ post.mawp_role }}</p>
						</div>
						<a class="learn-more-button" href="{{ post.link }}">Learn More</a>
					</div>
					<div class="add-shadow"></div>
				</div>
			{% endif %}
			{% set count = count + 1 %}
		{% endfor %}
	{% endfor %}
</div>
