{% extends 'base.twig' %}

{% block below_header %}
<section class="contact-intro">
	<div class="feature-block">
		<div class="map-container">
			<div id="map"></div>
		</div>
		<div class="feature-block__project-info">
			<div class="info-block">
				<p class="info-head">Address</p>
				<p>{{ options.address }}</p>
				<p>{{ options.city_state_zip }}</p>
			</div>
			<div class="info-block">
				<p class="info-head">Fax</p>
				<p>{{ options.fax_number }}</p>
			</div>
			<div class="info-block">
				<p class="info-head">Phone</p>
				<p>{{ options.phone_number }}</p>
			</div>
			<a class="learn-more-button" href="tel:785-537-1072">Call Now</a>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="form-container">
		<h3>Let's Chat</h3>
		{{ contact_form }}
	</div>
</section>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoiam9yZGFuNTAyIiwiYSI6ImNqZWVoZmQ3aTI5MWQyd28xMDZiN3R5aXcifQ.IpeRF59rJ3j7A4FPEGp5SA';
	var map = new mapboxgl.Map({
		container: 'map', // div#map
		style: 'mapbox://styles/jordan502/ck37n7nvo0kmg1ctb4krv2cr9'
	});

	map.scrollZoom.disable(); // allows user to scroll/swipe without zooming (still allows panx/y)
	map.addControl(new mapboxgl.NavigationControl());
</script>
{% endblock %}

{% block abovefooter %}
{% endblock %}