{% block footer %}
<footer class="site-footer">
	<section class="site-footer__client-info">
		<div class="info-left">
			<a href="/">
				<img src="{{ theme.link }}/static/images/mawp-logo-color.png" alt="Mid-American Water and Plumbing, Inc." />
			</a>
			<span>Mid-American Water &amp; Plumbing, Inc.</span>
		</div>

		<div class="info-right">
			<h6>Contact</h6>
			<div class="divider"></div>
			<div class="info-right__add-flex">
				<div class="contact-info">
					<p>{{ options.address }}</p>
					<p>{{ options.city_state_zip }}</p>
				</div>
				<address class="contact-info">
					<a href="tel:785-537-1072">Phone: {{ options.phone_number }}</a>
					<p>Fax: {{ options.fax_number }}</p>
				</address>
				<a class="fa fa-facebook" href="{{ options.facebook_url }}" rel="nofollow" target="_blank"></a>
			</div>
		</div>
	</section>

	<section class="footer-footnotes">
		<small>&copy; {{ date_year }} Mid-American Water & Plumbing, Inc. All rights reserved.</small>
		<div>
			<a href="/terms-of-service">Terms of Service</a>
			<span>·</span> {# Interpunct symbol #}
			<a href="/privacy-policy">Privacy Policy</a>
		</div>
		<a class="mb-change" href="https://weare502.com" target="_blank" rel="nofollow noopener">Design &amp; Development by {% include '/static/icons/502-logo.svg' %}</a>
	</section>
</footer>
{% endblock %}