{% extends 'base.twig' %}

{% block below_header %}
{% set fp_count = 0 %}
<div class="slide-container">
	<div class="slider-wrapper">
		{% for project in projects if project.get_field('is_featured_project') == 'Yes' %}
			{% if fp_count < 3 %}
				<div class="slide-item" style="background-image: url('{{ TimberImage( project.thumbnail.src ).src }}');">
					<div class="slide-info-container">
						<h2>{{ project.title }}</h2>
						<p>{{ project.preview }}</p>
						<a class="learn-more-button" href="{{ project.link }}">Learn More</a>
					</div>
					<div class="add-shadow"></div>
				</div>
			{% set fp_count = fp_count + 1 %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="slider-dots"></div>
</div> {# /.slide-container #}
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="home-container">
		<h2>Industries We Serve</h2>
		<div class="three-col-grid">
			{% for project_type in project_types %}
			{% set url_insert = project_type.meta('slug')|split(' ')|join('') %}
				<div class="three-col-grid__grid-item">
					<p class="grid-title">{{ project_type.name }}</p>
					<p>{{ project_type.description }}</p>
					<a class="learn-more-button button-bottom" href="/industry-experience/?_industry_types_desktop={{ url_insert }}">Learn More</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}

{% block abovefooter %}
<div class="logo-carousel">
	<section class="carousel">
		{% for slide in post.get_field('slide_repeater') %}
			<div class="slide-logo">
				<img src="{{ TimberImage(slide.slide_logo).src }}" alt="{{ TimberImage(slide.slide_logo).alt }}" />
			</div>
		{% endfor %}
	</section>
</div>
{% endblock %}