{% block navigation %}
<div class="nav-wrapper">
	<div class="nav-container"> {# flex container #}

		{# hidden on mobile #}
		<a class="logo" href="/">
			<img src="{{ theme.link }}/static/images/mawp-logo-white.png" alt="Mid-American Water and Plumbing, Inc." />
		</a>

		<div class="mobile-nav-top">
			<a class="mobile-logo" href="/">
				<img src="{{ theme.link }}/static/images/mawp-logo-white.png" alt="Mid-American Water and Plumbing, Inc." />
			</a>

			<div id="menu-toggle">
				<span class="x-bar"></span>
				<span class="x-bar"></span>
				<span class="x-bar"></span>
			</div>
		</div>

		<nav class="nav-menu" role="navigation">
			{{ function('mawp_render_primary_menu') }}
		</nav>

	</div>
</div>
{% endblock %}