{% extends 'base.twig' %}

{% block below_header %}
	{% if post.get_field('project_image_gallery') %}
		<section class="gallery-container">
			<span class="prev-arrow desktop-arrow"><span class="fa fa-chevron-left"></span></span>
			<div class="project-gallery">
				{% for image in post.get_field('project_image_gallery') %}
					<div class="project-gallery__image">
						<img src="{{ TimberImage( image.project_image ).src }}" alt="{{ TimberImage( image.project_image ).alt }}" />
					</div>
				{% endfor %}
			</div>
			<span class="next-arrow desktop-arrow"><span class="fa fa-chevron-right"></span></span>
			<div class="gallery-arrows">
				<span class="prev-arrow mobile-arrow">{% include '/static/icons/arr-left.svg' %}</span>
				<div class="arrow-divider"></div>
				<span class="next-arrow mobile-arrow">{% include '/static/icons/arr-right.svg' %}</span>
			</div>
		</section>
	{% else %}
		{# spacer if no gallery is added #}
		<div style="margin: 2.5rem 0;"></div>
	{% endif %}
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="project-container">
		{{ post.content }}

		<section class="project-details-block">
			<div class="details-list">
				<ul class="details-list__titles">
					<li>Location</li>
					<li>Client</li>
					<li>Project Size</li>
					<li>MAWP Role</li>
					<li>Date Project Began</li>
					<li>Actual Finish Date</li>
				</ul>

				<ul class="details-list__info">
					<li>{{ post.project_location }}</li>
					<li>{{ post.project_client }}</li>
					<li>{{ post.project_size }}</li>
					<li>{{ post.mawp_role }}</li>
					<li>{{ post.project_start_date }}</li>
					<li>{{ post.project_end_date }}</li>
				</ul>
			</div>
		</section>
	</div>
</section>
{% endblock %}

{% block abovefooter %}
{% endblock %}