{% extends 'base.twig' %}

{% block below_header %}
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="default-container">
		{{ post.content }}
	</div>
</section>
{% endblock %}

{% block abovefooter %}
{% endblock %}