// facets: buttons for desktop and select field for mobile
.project-facet-wrapper {
	position: relative;
	max-width: 12rem;
	margin: 0 auto;
	@include bp(sm) { max-width: 62.5rem; }

	.facetwp-facet {
		margin-bottom: unset;
		display: block;

		@include bp(sm) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 62.5rem;
			width: 100%;
			margin: 0 auto;
		}

		.facetwp-radio {
			background: unset; // remove pseudo checkbox
			display: inline-block;
			width: 11.25rem;
			font-family: $font-head;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0.75rem 0;
			color: $blue;
			background-color: $white;
			border: 1px solid $blue;
			transition: 0.1s ease-in;
			text-align: center;
			margin-bottom: 0;

			&:hover {
				transition: 0.1s ease-out;
				background-color: $blue;
				color: $white;
				cursor: pointer;
			}

			&.checked {
				background-color: $blue;
				color: $white;
			}
		}

		.facetwp-counter { display: none; }
	}

	.select-icon {
		position: absolute;
		top: 10px;
		right: 12px;
		font-family: FontAwesome;
		color: $blue;
		z-index: 1; // put under select box so it can be clicked still
	}
}

// desktop is checkbox buttons and mobile is a dropdown select filter
.facet-desktop {
	display: none;
	@include bp($tablet) { display: block; }
}

.facet-mobile {
	display: block;
	text-align: center;
	@include bp($tablet) { display: none; }

	select, option {
		font-family: $font-head;
		font-weight: bold;
		font-size: 1rem;
		text-transform: uppercase;
		color: $blue;
		text-align: center;
		letter-spacing: 1px;
	}

	select {
		display: block;
		position: relative;
		width: 12rem;
		margin: 0 auto;
		padding: 0.5rem;
		border: 1px solid $blue;
		border-radius: unset;
		background: transparent;
		appearance: none; // remove default arrow
		z-index: 2; // to stay above icon
	}
}

// Featured Project (Industry Experience page only)
.featured-project {
	max-width: 75rem;
	margin: 0 auto 7rem;

	.category-intro {
		max-width: 37rem;
		margin: 2.5rem auto;
		text-align: center;
	}
	// Feature Block styles in global.scss
}

// Project Grid
.project-grid {
	display: grid;
	max-width: 62.5rem;
	margin: 5rem auto 0;
	grid-template-columns: repeat(auto-fit, minmax(100%, 20rem)); // fill to container edge on mobile
	column-gap: 1.25rem; //  [(1.25 * 2) + (20 * 3)] = 62.5
	row-gap: 1.25rem;
	justify-content: center;
	@include bp(xs) { grid-template-columns: repeat(auto-fit, minmax(18rem, 20rem)); } // bring container edge "back in"

	&__grid-item {
		position: relative;
		height: 13.25rem;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
		box-shadow: $grid-item-shadow;
		&:hover { opacity: 0.8; }

		h5 {
			position: absolute;
			max-width: 16rem;
			left: 1rem;
			bottom: -1rem;
		}
	}
}