// standard link style (no bold)
.primary-button, .learn-more-button {
	display: inline-block;
	font-family: $font-head;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1.2rem 0.9375rem;
	text-align: center;
	background-color: $blue;
	color: $white;
	box-shadow: $button-shadow;

	&:hover {
		background-color: $black-blue;
	}

	// for buttons with arrow
	svg {
		vertical-align: text-bottom;
		margin-left: 1.5rem;
	}
}

.learn-more-button {
	width: 9rem;
	padding: 0.8rem 0.9375rem;

	@include bp(600px) {
		width: 12.5rem;
		padding: 1.2rem 0.9375rem;
	}
}

.filter-button {
	display: inline-block;
	width: 11.25rem;
	font-family: $font-head;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.75rem 0;
	margin: 0 0.75rem;
	color: $blue;
	background-color: $white;
	border: 1px solid $blue;
	transition: 0.1s ease-in;
	&:first-of-type { margin-left: 0; }
	&:last-of-type { margin-right: 0; }

	&:hover {
		cursor: pointer;
		color: $white;
		background-color: $blue;
		transition: 0.1s ease-out;
	}

	&.active {
		color: $white;
		background-color: $blue;
	}
}