.contact-intro {
	max-width: 77rem;
	margin: -4rem auto 5rem;
	padding: 0 1rem;

	// call now button tweaks
	.learn-more-button {
		letter-spacing: 2px;
		max-width: 11.25rem;
	}

	.map-container {
		position: relative;
		margin: 0 auto;
		max-width: 75rem;
		height: 18rem;
		@include bp(xs) { height: 25rem; }
		@include bp(sm) { height: 35rem; }
		@include bp(md) { height: 42rem; }
	}

	#map {
		position: relative;
		margin: 0 auto;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}

	// make buttons and controls visible
	.mapboxgl-ctrl.mapboxgl-ctrl-group {
		position: absolute;
		width: 4rem;
		top: 0;
		right: 0;
		padding: 1rem;

		button, [type="button"], [type="reset"], [type="submit"] {
			-webkit-appearance: none;
			margin-bottom: 0.5rem;
			width: 2rem;
			height: 2rem;
			padding: 0;
			background-color: $black-blue;
			color: $white;
			border: none;
		}

		// hide map clutter
		.mapboxgl-ctrl-bottom-left,
		.mapboxgl-ctrl-bottom-right,
		.mapboxgl-ctrl-compass {
			display: none;
		}

		// zoom in button:  add + sign
		.mapboxgl-ctrl-zoom-in {
			&:before {
				content: '+';
				position: relative;
				font-weight: bold;
			}
			&:hover { cursor: pointer; }
		}

		// zoom out button:  add - sign
		.mapboxgl-ctrl-zoom-out {
			&:before {
				content: '-';
				position: relative;
				font-weight: bold;
			}
			&:hover { cursor: pointer; }
		}
	}
}
// forms styles in [_forms.scss]