.site-footer {
	max-width: 77rem;
	padding: 1rem;
	margin: 2rem auto 0;

	// client information container (Logo / Contact)
	&__client-info {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 1.25rem;
		border-top: 1px solid $steel-grey;
		border-bottom: 1px solid $steel-grey;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	// branding / logo block
	.info-left {
		margin-bottom: 1.5rem;
		@include bp(540px) { margin-bottom: 0; }

		a {
			display: block;
			text-align: center;

			@include bp(540px) {
				display: inline-block;
				margin-bottom: 2.5rem;
				text-align: initial;
			}

			@include bp(sm) { margin-bottom: 0; }
		}

		img {
			display: inline-block;
			vertical-align: middle;
			max-width: 10.25rem;
			margin-bottom: 1rem;
			@include bp(540px) { margin-right: 2rem; }
			@include bp(912px) { margin-bottom: 0; }
		}

		span {
			display: inline-block;
			vertical-align: middle;
			color: $steel-grey;
			font-size: 0.625rem;
			text-align: center;
			@include bp(520px) { font-size: 0.875rem; }
			@include bp(sm) { max-width: 10rem; }
			@include bp(912px) { text-align: left; }
		}
	}

	// contact / social block
	.info-right {
		display: flex;
		max-width: 30rem;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(520px) {
			flex-direction: row;
			justify-content: space-between;
		}

		h6 { margin: 0; }

		&__add-flex {
			display: flex;
			max-width: 24rem;
			width: 100%;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			@include bp(520px) { max-width: 22rem; }
		}

		.divider {
			width: 6.75rem;
			height: 3px;
			padding: 1px;
			margin: 0.75rem 0;
			background-color: $blue;

			@include bp(520px) {
				width: 2px;
				height: 3rem;
				padding: 1px;
			}
		}

		.contact-info {
			p, a {
				margin: 0;
				color: $steel-grey;
				font-size: 0.625rem;
				@include bp(520px) { font-size: 0.875rem; }
			}
		}

		div.contact-info {
			margin-top: 0.4rem;
			@include bp(520px) { margin-top: 0; }
		}

		.fa-facebook {
			background-color: $blue;
			border-radius: 50%;
			padding: 0.5rem 0.6rem 0.3rem;
			color: $white;
			&:hover { background-color: $black-blue; }
		}
	}

	.footer-footnotes {
		display: flex;
		max-width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem 0 0;
		text-align: center;

		@include bp(700px) {
			justify-content: space-between;
			flex-direction: row;
			text-align: initial;
		}

		small, a, div {
			margin-bottom: 0.5rem;
			@include bp(700px) { margin-bottom: 0; }
		}

		.mb-change {
			margin-bottom: 0;
		}

		a {
			font-size: 0.6875rem;
			color: $steel-grey;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;
			font-size: 1rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			color: $steel-grey;
		}

		svg { vertical-align: middle; }
	}
}