// Contact Form Styles //
// Gravity Forms custom styles //
.form-container {
	max-width: 37.5rem;
	margin: 0 auto;

	h3 {
		letter-spacing: 2px;
		text-align: center;
	}
}

// all inputs (name / email)
.gform_body input, .gform_body textarea {
	border: 1px solid $black-blue !important;
	font-family: $font-body !important;
	font-size: 0.875rem !important;
	width: 100% !important;
	border-radius: 2px;
}

// less padding on message box
.gform_wrapper textarea, .gform_wrapper input {
	margin-top: 0.8rem;
	padding: 6px 4px 6px 30px !important;
}

// submit button
.gform_wrapper .gform_footer {
	text-align: center;
}

#gform_submit_button_1 {
	@extend .primary-button;
	padding: 0.8rem 0.65rem !important;
	border: unset;
	border-radius: unset;
	transition: 0.2s ease-out;
	margin: 0 auto;
	width: 9.5rem;
	letter-spacing: 2px;
	font-size: 1rem;
	@include bp(xs) {
		padding: 1.2rem 0.9375rem !important;
	}

	&:hover {
		cursor: pointer;
		background-color: $black-blue;
		transition: 0.2s ease-out;
	}
}

// ICONS //
// first name
#field_1_1 .ginput_container {
	position: relative;

	&:before {
		content: '\f007';
		font-family: FontAwesome;
		position: absolute;
		left: -8px;
		top: 8px;
		padding: 1rem;
		color: rgba($black, 0.5);
		@include bp(642px) { top: 3px; }
	}
}

// email
#field_1_2 {
	position: relative;

	&:before {
		content: '\f0e0';
		font-family: FontAwesome;
		position: absolute;
		left: -10px;
		top: 7px;
		padding: 1rem;
		color: rgba($black, 0.5);
		@include bp(642px) { top: 2px; }
	}
}

// message
#field_1_3 {
	position: relative;

	&:before {
		content: '\f044';
		font-family: FontAwesome;
		position: absolute;
		left: -9px;
		top: 5px;
		padding: 1rem;
		color: rgba($black, 0.5);
	}
}