// Home Page slider
.slide-container {
	position: relative;
	max-width: 75rem;
	margin: -8.5rem auto 5rem;
	@include bp(sm) { margin: -8.5rem auto 10rem; }

	// slider start
	.slider-wrapper {

		// due to varying height of images - set as background and uses padding to make all uniform width/height
		.slide-item {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 1;
			padding: 10rem 0;
			@include bp(xs) { padding: 12rem 0; }
			@include bp(sm) { padding: 16rem 0; }
			@include bp(md) { padding: 20rem 0; }

			.slide-info-container {
				position: absolute;
				max-width: 30rem;
				left: 1rem;
				bottom: 3rem;
				padding-top: 3rem;
				z-index: 5; // keep on top of shadow
				@include bp(sm) { left: 3rem; bottom: 2rem; }
			}

			h2, p { color: $white; }

			h2 {
				font-size: 1.25rem;
				margin-bottom: 1rem;
				max-width: 20rem;
				@include bp($iphone678) { font-size: 1.5rem; max-width: 25rem; }
				@include bp(sm) { font-size: 2.5rem; max-width: 100%; }
			}

			p {
				display: none;

				@include bp(xs) {
					display: block;
					margin-bottom: 1.875rem;
				}
			}
		}
	}

	// slick dot styles and controls
	.slider-dots {
		position: absolute;
		bottom: 0.25rem;
		left: 50%;
		transform: translateX(-50%);
		padding: 0.5rem;
		margin: 0 auto;
		text-align: center;
		z-index: 5; // keep on top of shadow
		@include bp(sm) { bottom: 2rem; }

		ul {
			display: flex;
			width: 5.5rem;
			margin: 0;
			padding: 0;
			list-style: none;
			justify-content: space-between;
			align-items: center;

			button {
				width: 0.75rem;
				height: 0.75rem;
				padding: 0;
				border: unset;
				border-radius: 50%;
				background-color: rgba($white, 0.3);
				font-size: 0;
				&:hover { cursor: pointer; }

				@include bp(xs) {
					width: 1rem;
					height: 1rem;
				}
			}

			li.slick-active > button {
				background-color: $white;
			}
		}
	}
}

// Homepage Content start
.home-container {
	max-width: 75rem;
	margin: 0 auto 1.5rem;
	@include bp(md) { margin: 0 auto 6rem; }

	h2 {
		text-align: center;
		margin-bottom: 2.5rem;
		letter-spacing: 0;
		@include bp(xs) { margin-bottom: 4.5rem; }
	}
	// grid styles in 'globals.scss' (shared styles)
	// logo carousel in 'blocks/logo-carousel.scss'
}