* { box-sizing: border-box; }
html { font-size: 16px; }

html, body {
	// smooths jagged font edges
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// font variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1;
	-moz-font-feature-settings: "lnum" 1;
	-webkit-font-feature-settings: "lnum" 1;

	// global line-height
	line-height: 1.2;
	overflow-x: hidden;
}

// sitewide placeholder text (make it legible)
::placeholder { color: rgba($black, 0.5); }

// base image setup
img {
	max-width: 100%;
	height: auto;
}

// Remove excerpt/preview read-more link
a.read-more { display: none; }

// 3 column grid
.three-col-grid {
	display: grid;
	max-width: 62.5rem;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fit, minmax(14.5rem, 14.5rem));
	column-gap: 9.5rem;
	row-gap: 3.5rem;
	justify-content: center;
	@include bp(sm) { row-gap: 7rem; }

	&__grid-item {
		position: relative;

		.grid-title {
			font-family: $font-head;
			font-size: 1.5625rem; // 25px
			font-weight: bold;
			text-transform: uppercase; // fallback if font is not loaded
			color: $black-blue;
		}

		// for homepage capabilities that use this grid - align buttons to bottom of grid item
		.button-bottom {
			position: absolute;
			top: 100%;
		}
	}

	p { margin-bottom: 1.25rem; }
}

// Featured Project and Contact Page Header Block
.feature-block {
	position: relative;
	margin: 0 auto 22rem;
	@include bp(800px) { margin: 0 auto; }

	img {
		display: block;
		max-height: 41rem;
		width: 100%;
	}

	&__project-blurb {
		position: absolute;
		max-width: 30rem;
		left: 1rem;
		bottom: 1rem;
		padding-top: 1rem;
		z-index: 5; // keep on top of shadow

		@include bp(sm) {
			left: 3rem;
			bottom: 2rem;
		}

		h2, p { color: $white; }
		h2 { margin-bottom: 1rem; }

		p {
			display: none;
			@include bp(sm) { display: block; }
		}
	}

	// move into image when browser edge touches, below image on mobile
	&__project-info {
		position: absolute;
		max-width: 100%;
		width: 100%;
		padding: 1rem;
		background-color: rgba($black-blue, 0.94);
		z-index: 5;

		@include bp(800px) {
			max-width: 15rem;
			padding: 1rem 1.8rem 3.3rem;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		@include bp(md) {
			max-width: 24rem;
			right: -1rem;
			bottom: -1rem;
		}

		@include bp(lg) {
			right: -2rem;
			bottom: -2rem;
		}

		.info-block {
			margin-bottom: 2rem;
		}

		p {
			font-size: 0.75rem;
			color: $white;
			margin: 0;
			@include bp(xs) { font-size: 0.875rem; }
		}

		.info-head {
			font-family: $font-head;
			font-weight: bold;
			font-size: 0.9rem;
			color: $white;
			letter-spacing: 2px;
			text-transform: uppercase; // fallback if font is not loaded
			@include bp(xs) { font-size: 1.125rem; }
		}
	}
}