// controls site headers
.header-wrapper {
	max-width: 100%;
	margin: 0 auto;
	// padding: 1rem 1rem 0;
	background: linear-gradient($blue-gradient);

	// global header (home header shares styles)
	.header-container {
		max-width: 54.5rem;
		margin: 4rem auto 0;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		opacity: 1; // .content-fade when menu is open
		transition: opacity 1s ease-out;

		h1:not(.home-heading) {
			margin-bottom: 0;
		}

		p {
			max-width: 37rem;
			margin: 0 auto 2.5rem;
			color: $white;
		}
	}

	.white-bar {
		position: relative;
		bottom: 0;
		max-width: 75rem;
		margin: 0 auto;
		padding: 1rem 0;
		background-color: $white;
		@include bp(sm) { padding: 2rem 0; }
	}

	// applied to .header-container when mobile menu is opened
	.content-fade {
		opacity: 0;
		transition: opacity 0.7s ease-out;
	}
}