// global menu styles
.nav-wrapper {
	position: relative;
	max-width: 100%;

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		list-style: none;
	}
}

// hamburger menu
#menu-toggle { display: none; }

.mobile-nav-top {
	display: none;
}

// laptop+ styles
@include mq($from: 769px) {

	// only applied on desktop
	.nav-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	// no border or bottom padding on mobile
	.nav-container {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding-top: 1rem;
		padding-bottom: 1.75rem;
		border-bottom: 1px solid rgba($white, 0.5); // feaux half-pixel border
	}

	.logo {
		max-width: 10.25rem;
		margin-right: 2rem;
	}

	#primary-menu { display: flex !important; } // needed to override jQuery slideToggle() - sets display: none - inline

	// <nav>
	.nav-menu {
		width: 46rem;

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			li a {
				color: $white;
				font-family: $font-head;
				font-weight: bold;
				font-size: 1.125rem;
				letter-spacing: 3px;
				text-transform: uppercase; // uppercase fallback if font is not loaded / supported

				// explicit for   javascript: void(0)
				&:hover { cursor: pointer; }
			}

			//ul.sub-menu
			.sub-menu {
				position: absolute;
				top: 2.25rem;
				left: -1rem;
				visibility: hidden;
				opacity: 0;
				width: 12.5rem;
				overflow: hidden;
				background-color: $smoke;
				padding: 1.5rem;
				transition: 0.2s ease-out;
				z-index: 5; // above [.white-bar]

				li {
					margin-bottom: 1.25rem;
					width: 100%;
					&:last-of-type { margin-bottom: 0; }
				}

				li a {
					font-family: $font-body;
					font-weight: normal;
					font-size: 0.875rem;
					color: $white;
					text-transform: none;
					letter-spacing: 0;
				}
			}

			// menus with children class target (they may add more)
			.menu-item-has-children {
				position: relative;

				// first target link
				> a {
					position: relative;
					padding-bottom: 0.75rem; // allow sub-menu to stay open when moving mouse down to it
				}

				// apply chevron
				&:after {
					content: url('./static/icons/chevron-down.svg');
					position: absolute;
					top: 1px;
					right: -16px;
					color: $white;
					padding-left: 4px;
				}

				&:hover {
					&:after {
						top: 4px;
						right: -20px;
						transform: rotate(180deg); // rotate chevron
						transform-origin: center;
					}

					// show sub-menu
					.sub-menu {
						visibility: visible;
						opacity: 1;
						transition: 0.2s ease-out;
						overflow: visible; // needed for top triangle

						// triangle on top of menu
						&:before {
							content: '';
							width: 0;
							height: 0;
							position: absolute;
							top: -8px;
							left: 41%;
							border-left: 15px solid transparent;
							border-right: 15px solid transparent;
							border-bottom: 10px solid $smoke;
						}
					}
				}
			} // .menu-item-has-children
		} // .menu
	} // .nav-menu
}

// mobile to laptop styles
@include mq($until: $tablet) {

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;

		.mobile-logo { max-width: 5.75rem; }
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;

		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			width: 1.6rem;
			height: 3px;
			margin-bottom: 6px;
			background-color: $white;
			transition: 0.2s ease-out;
			border-radius: 1px;
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 4px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 8px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}

	#primary-menu {
		display: none;
		position: relative;
		width: 100%;
		top: 1.5rem;
		text-align: center;
		overflow: hidden;

		li {
			margin-bottom: 1.875rem;
		}

		a {
			font-family: $font-head;
			font-weight: bold;
			color: $white;
			font-size: 1.125rem;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.menu-item-has-children {
			position: relative;

			> a {
				position: relative;

				// apply chevron
				&:after {
					content: '\f078';
					position: absolute;
					top: 6px;
					font-family: FontAwesome;
					font-size: 0.7rem;
					color: $white;
					padding-left: 4px;
				}
			}

			// spacing for menu-items
			> li {
				margin-top: 1rem;
			}

			// sub-menu styles
			> .sub-menu {
				position: relative;
				width: 100%;
				top: 1rem;
				left: 0;
				right: 0;
				padding: 1rem;
				background-color: $smoke;

				// triangle on top of menu
				&:before {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					top: -8px;
					left: 48%;
					border-left: 15px solid transparent;
					border-right: 15px solid transparent;
					border-bottom: 10px solid $smoke;
				}

				// no margin on last menu-item
				li {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.sub-menu {
		display: none;
	}
}