.gallery-container {
	position: relative;
	max-width: 70rem;
	margin: -4rem auto 5rem;
	padding: 0 1rem;

	.project-gallery__image {
		img {
			margin: 0 auto;
			max-height: 18rem; // allow images to flow but restrict height (no quality loss)
			@include bp(xs) { max-height: 20rem; }
			@include bp(sm) { max-height: 32rem; }
			@include bp(md) { max-height: 41rem; }
		}
	}

	@include mq($from: $desktop) {
		.gallery-arrows, .mobile-arrow {
			display: none;
		}

		.desktop-arrow {
			display: inline-block;
		}

		.prev-arrow, .next-arrow {
			display: inline-block;
			position: absolute;
			top: 50%;
			padding: 0.7rem 0.7rem 0.5rem;
			font-family: FontAwesome;
			font-size: 2rem;
			color: $black;
			z-index: 25; // always on top of slider (zi: 20)
			@include bp(sm) { padding: 2rem 1rem 2rem 1.25rem; }

			&:hover {
				cursor: pointer;
				background-color: rgba($black-blue, 0.2);
			}
		}

		.prev-arrow { left: -3rem; }
		.next-arrow { right: -3rem; }
	} // end of -mq(800px)

	// arrows combined at bottom of container (Mobile only)
	@include mq($until: 1199px) {
		.desktop-arrow {
			display: none !important;
		}

		.mobile-arrow {
			display: block;
		}

		.gallery-arrows {
			display: flex;
			position: absolute;
			bottom: -2.5rem;
			left: 1rem;

			@include bp(sm) {
				bottom: -1.5rem;
				left: 7.5rem;
			}

			.prev-arrow, .next-arrow {
				display: inline-block;
				padding: 0.7rem 0.7rem 0.5rem;
				background-color: rgba($black-blue, 0.9);
				@include bp(sm) { padding: 1rem 1rem 0.8rem; }

				&:hover {
					cursor: pointer;
					background-color: rgba($black-blue, 0.6);
				}
			}

			.arrow-divider {
				display: inline-block;
				width: 2px;
				height: 2rem;
				margin: 4px 0 0;
				background-color: $white;
				vertical-align: middle;
				@include bp(sm) { margin: 8px 0 0; }
			}
		}
	} // end of +mq(800px)
}

.project-container {
	max-width: 42rem;
	margin: 0 auto;

	p {
		font-size: 0.875rem;
		margin: 0 0 1rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 1.25rem;
		margin-bottom: 0.25rem;
	}
}

// details list (bottom)
.project-details-block {
	max-width: 100%;
	margin: 4rem 0 0; // left aligned

	.details-list {
		display: flex;
		max-width: 30rem;
		justify-content: space-between;
		align-items: flex-start;
		text-align: left;
		flex-wrap: nowrap;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				font-size: 0.875rem;
				font-family: $font-body;
				margin-bottom: 0.8rem;
			}
		}

		&__titles {
			max-width: 8.5rem;
			li { font-weight: bold; }
		}

		// &__info {
		// 	max-width: 12rem;
		// }
	}
}