//***** helper classes *****//
.global-page-wrapper {
	max-width: 100%;
	margin: 0 0 4rem 0;
	padding: 0 1rem 1rem;
}

.default-container {
	max-width: 42rem;
	margin: 1rem auto;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}

	p { margin-top: 0; }
	a { color: $blue; }
}

.default-container-wide {
	max-width: 62.5rem;
	margin: 1rem auto;

	p { max-width: 42rem; }
	h1, h2, h3, h4, h5, h6 { max-width: 42rem; }
}

.pb-15 {
	padding-bottom: 15rem;
}

.pb-5 {
	padding-bottom: 5rem;
}

.pb-8 {
	padding-bottom: 8rem;
}

.hide-on-desktop {
	display: block;
	@include bp(xs) { display: none; }
}

.hide-on-mobile {
	display: none;
	@include bp(xs) { display: block; }
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.3s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-out;
}

// base link styles
a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

.plain-link {
	color: $black-blue;
	font-size: 0.6875rem; // 11px
	font-style: italic;
	text-decoration: none;
	&:hover { text-decoration: underline;}
}

// backdrop-overlay shadow
// make this a child inside the parent element or it will cover the whole page
.add-shadow {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba($black, 0) 10%, rgba($black, 0.9));
	z-index: 1; // set shadow as "first" layer inside each slide

	@include bp(sm) {
		background: linear-gradient(to bottom, rgba($black, 0) 30%, rgba($black, 0.9));
	}
}