// standard colors
$black: #000;
$light-black: #282828;
$smoke: #111F2A;
$white: #FFF;
$grey-one: #474747;
$grey-two: #515151;
$grey-three: #595959;
$grey-four: #666666;
$grey-five: #979797;
$grey-six: #A4A4A4;
$grey-seven: #898989;
$grey-eight: #A8A8A8;
$grey-nine: #D8D8D8;
$grey-ten: #EDEDED;
$steel-grey: #959EA6;

// social icon colors
$twitter-blue: #0084FF;
$facebook-blue: #3B5998;
$google-red: #D34836;

// theme colors
$blue-gradient: to top right, #111F2A, #174274 35%, #111F2A; // bottom left to top right (45deg)
$blue: #4E94E8;
$dark-blue: #174274;
$black-blue: #111F2A;

// shadows
$button-shadow: 0 3px 4px -2px rgba($black, 0.5);
$grid-item-shadow: inset 0 -80px 30px rgba($black, 0.7);

// fonts
$font-head: rift, sans-serif;
$font-body: realist, sans-serif;

// alt mq sizes
$iphone678: 375px;
$small-tablet: 400px;
$tablet: 768px;
$laptop: 1023px;
$desktop: 1200px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}