// standard link style (no bold)
.arrow-button, .standard-button {
	display: block;
	max-width: 12rem;
	font-family: $font-head;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 1.2rem 0.9375rem;
	text-align: center;
	background-color: $blue;
	color: $white;
	box-shadow: $button-shadow;
	margin: 0.75rem 0;
	text-decoration: none;

	&:hover {
		background-color: $black-blue;
	}

	// for buttons with arrow
	svg {
		vertical-align: text-bottom;
		margin-left: 1.5rem;
	}
}

.standard-button {
	max-width: 9rem;
	padding: 0.8rem 0.9375rem;

	@include bp(600px) {
		max-width: 12rem;
		padding: 1.2rem 0.9375rem;
	}
}