.employee-block-container {
	max-width: 41.25rem;
	margin: 2rem auto 4rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 12.5rem)); // fill to container edge on mobile
	column-gap: 1.875rem;
	row-gap: 2.25rem;
	justify-content: center;
	@include bp(sm) { justify-content: left; }

	img {
		border-bottom: 1px solid $dark-blue;
	}

	h6, p { margin-bottom: 0.2rem; }

	// control margin on employee h6 (h# have margin for default-container)
	#emp-h6 { margin-top: 0; }

	.employee-link { &:hover { text-decoration: underline; } }
	p { margin-top: 0.2rem; }
}