.logo-carousel {
	max-width: 100%; // go to edges of browser
	margin: 6.5rem auto 5rem;
	padding: 0; // use screen edges as cutoff

	.carousel {
		.slick-track {
			height: 100px;
			position: relative;
		}

		.slick-slide {
			img {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				max-height: 75px;
				margin-left: 3rem;
				margin-right: 3rem;
			}
		}
	}
}